.nav {
    display: flex;
    justify-content: space-evenly;
}

.nav_item {
    text-decoration: none;
    color: #000;
}

.wrap {
    padding-left: 10px;
    padding-right: 10px;
}

.listGames {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

.game {
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 10px;
    text-transform: uppercase;
}

.live {
    color: white;
    background-color: #FF0033;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.5s;
    min-width: 100px;
}

.live:hover {
    background-color: #FF6666;
}

.tourney {
    margin-top: 20px;
    color: #000;

}

.tourneys > a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}


.tourneys__teams {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.tourneys__teams > div:not(:first-child) {
    margin-left: 10px;
}

.remindMe {
    color: white;
    background: #0000FF;
    padding: 10px;
    border-radius: 10px;
    font-size: 11px;
    display: flex;
    align-items: center;
    transition: background 0.5s;
    min-width: 100px;
}

.remindMe:hover {
    background: #6699FF;
}

.close {
    background-color: #C4C4C4;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 11px;
    min-width: 100px;
}

.iconDone {
    color: white;
    background: #27AE60;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.iconCancel {
    color: white;
    background: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.tournir__imgBlock {
    position: relative;
}

.iconImgBlock {
    position: absolute;
    top: 0;
    right: 0;
}

.notice {
    color: #ccc;
    font-size: 14px;
}

.results {
    font-weight: 600;
    color: black;
}

.nameTeam {
    font-size: 10px;
}

.title {
    font-size: 14px;
}

.vkuiCardScroll--s .vkuiCard{
    width: 150px;
}

.blockNotification {
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
