.nav {
    display: flex;
    justify-content: space-evenly;
}

.nav_item {
    text-decoration: none;
    color: #000;
}

.wrap {
    padding-left: 10px;
    padding-right: 10px;
}

.listGames {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

.game {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.live {
    color: white;
    background-color: red;
    padding: 10px;
}

.Tournirs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.tournir {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #000;
}

.tournir__a {
    text-decoration: none;
}

.remindMe {
    color: white;
    background: #3F8AE0;
    padding: 10px;
    border-radius: 10px;
}

.close {
    background-color: #C4C4C4;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.iconDone {
    color: white;
    background: #27AE60;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.iconCancel {
    color: white;
    background: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.tournir__imgBlock {
    position: relative;
}

.iconImgBlock {
    position: absolute;
    top: 0;
    right: 0;
}

.notice {
    color: #ccc;
}

.results {
    font-weight: 600;
    color: black;
}

.nameTeam {
    font-size: 10px;
}
